!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
  %body
    %h1
      Hi 
      = @user.username + ','
    %p
      You have successfully purchased the attached snap.
    %p
      Thank you and enjoy your day.