<li class="snap row">
	<article class='medium-6 medium-offset-3 columns panel text-center'>
		<%= image_tag snap.image.url(:medium), class: 'th' %>
		<blockquote><%= snap.description %></blockquote>
		<% if !snap.tags.empty? %>
			<ul>
				<%= render snap.tags %>
			</ul>
		<%end%>
	</article>
</li>
		