-if @snap
	%ul.no-bullet#snaps
		= render partial: "snaps/show", locals: { snap: @snap, size: :large}
		- if current_user
			= render "charges/new"
			= render "comments"
		- if @snap.is_mappable?
			= render "map"
- else 
	.medium-6.medium-offset-3.columns.panel.radius.text-center
	Oh, snap! This snap does not exist!
