<div id="flash-container" class="small-3 small-centered columns" style="margin-top: 20px">
    <% if flash[:notice] %>    
      <div data-alert class="alert-box info radius">
        <%= flash[:notice] %>
        <a href="#" class="close">&times;</a>
        <% flash[:notice] = nil %>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div data-alert class="alert-box info radius">
        <%= flash[:alert] %>
        <a href="#" class="close">&times;</a>
        <% flash[:alert] = nil %>
      </div>
    <% end %>

  <% if flash[:errors] && !flash[:errors].empty? %>
      <% flash[:errors].each do |error| %>
        <div data-alert class="alert-box warning radius">
          <%= error %>
          <a href="#" class="close">&times;</a>
        </div>
      <% end %> 

  <% end %>
</div>